.aside {
  width: @aside-width;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 101;

  color: @aside-textcolor;
  background: @aside-backcolor;

  .logo {
    height: @header-height;
    border-bottom: 1px solid #fff;
  }

  .menu {
    line-height: 40px;
    .item {
      padding: 0 10px;
      &.active, &:hover {
        background: darken(@aside-backcolor, 10%);
      }
    }
    .tool {
      padding: 0 10px;
      &.active, &:hover {
        background: darken(@aside-backcolor, 20%);
      }
    }
  }
}